<%= form_for(@anime) do |f| %>
  <div class="col-md-4">
    <% if @anime.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @anime.errors.full_messages.each do |anime| %>
            <li><%= anime %></li>
          <% end %>
        </ul> 
      </div>
    <% end %>
    <div class="form-group">
      <label>アニメのタイトル</label>
      <%= f.text_field :title, class: 'form-control', autocomplete: 'off' %>
    </div>
    <div class="form-group">
      <label>アニメの得点</label>(後で変えられます)
      <%= f.text_field :anime_score, class: 'form-control', value: 0, autocomplete: 'off' %>
    </div>
    <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
    
  </div>
<% end %>